%form-style {
  background: $background;
  border: 2px solid $action;
  outline: 0;
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 60px;

  .form {
    font-size: pxToRem(18);
    margin-bottom: 60px;

    .double-fields {
      display: flex;
      flex-wrap: wrap;
      gap: 0 25px;

      label {
        flex: 1 1 170px;
      }
    }

    label {
      display: block;
      margin-bottom: 20px;
      width: 100%;

      input,
      textarea {
        @extend %form-style;
        color: inherit;
        font-size: 1rem;
        box-sizing: border-box;
        transition: background 0.3s;
        padding: 8px;
        margin-top: 10px;
        width: 100%;
        &:hover,
        &:focus {
          background: lighten($background, $amount: 5);
        }
      }
    }

    .send-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: 0 20px;

      [type="submit"] {
        @extend %form-style;
        grid-row: span 2;
        color: $action;
        font-family: $font-family;
        font-size: pxToRem(18);
        text-transform: uppercase;
        box-shadow: 5px 5px 0 -2px $border, 5px 5px 0 $action;
        cursor: pointer;
        transition: box-shadow 0.3s;
        margin-bottom: 15px;
        height: 40px;
        width: 190px;
        &:hover,
        &:focus {
          background: lighten($background, $amount: 5);
          box-shadow: 3px 3px 0 -2px $border, 3px 3px 0 $action;
        }
      }

      a {
        display: flex;
        justify-content: space-between;
        color: $action;
        white-space: nowrap;
        padding: 5px 0;
        width: 270px;
        &::after {
          content: "////";
        }
      }
    }
  }

  img {
    border: 10px solid $border;
    width: 100%;
  }
}

@include mq(700px) {
  .contato {
    grid-template-columns: 1fr;
    gap: 20px;

    .form {
      margin-bottom: 20px;

      .send-container a {
        width: max-content;
        &::after {
          content: "";
        }
      }
    }
  }
}
