@import "colors";
@import "miscellaneous";

$container: 960;
$font-family: "PT Mono", monospace;

body {
  background: $background;
  color: $font-color;
  font-family: $font-family;
  border: 10px solid $border;
  border-bottom-width: 0;
}

.container {
  padding: 0 30px;
  margin: auto;
  max-width: $container + px;
}

.subtitle {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 30px;
  grid-row: span 2;
  font-size: pxToRem(18);
  text-transform: uppercase;
  margin-right: 20px;
  max-width: 300px;
  &::after {
    content: "";
    display: block;
    background: currentColor;
    height: 2px;
    width: 100%;
  }
}
