.menu {
  display: grid;
  grid-template-columns: 4fr 80px 4fr 3fr;
  gap: 40px 0;
  padding: 120px 0;

  h3 {
    grid-column: 3;
    font-size: pxToRem(24);
  }

  ul {
    grid-column: 2 / span 2;
    font-size: pxToRem(18);

    li {
      display: grid;
      grid-template-columns: 80px 1fr;
    }

    .preco {
      color: $action;

      sup {
        font-size: pxToRem(10);
      }
    }

    li + li {
      margin-top: 15px;
    }
  }

  img {
    border: 10px solid $border;
    border-radius: 50%;
  }
}

@include mq(700px) {
  .menu {
    grid-template-columns: 1fr 80px 1fr;

    img {
      grid-column: 2 / -1;
    }
  }
}

@include mq(600px) {
  .menu {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 60px 0 120px;

    h3,
    ul,
    img {
      grid-column: auto;
    }

    img {
      justify-self: flex-end;
      margin-top: 20px;
    }
  }
}
